.App {
  text-align: center;
}

/* navbar css ..................****************************************  */
.Navbar{
  width: 100% ;
  height : 8rem ;
  display: grid ;
  grid-template-columns: 8rem 1fr 3fr 8rem ;
  background-color: #FFC017;
  box-shadow: rgba(50,50,93,0.25) 0px 50px 100px -20px , rgba(0,0,0,0.3) 0px 30px 60px -30px;
}
.navbar{
  display: none;
}
.Navbar h2 span{
  font-size: 3.5rem ;
  color: rgba(31,190,255,0.73);
}
li{
  list-style: none;
}

.Main{
  color: rgb(72, 71, 71);
  display: grid ;
  grid-column : 2/3;
  align-items: center ;
}
.ListDiv{
  display: grid;
  grid-column : 3/4 ;
}
.ListDiv ul{
  height : 8rem ;
  display: flex ;
  justify-content: space-between ; 
  align-items: center ;
}
.ListDiv ul li{
  font-size: 1.8rem ;
  transition: 0.5s;
}
.ListDiv ul li a{
  color : rgb(33, 32, 32) ;
  text-decoration: none;
  font-size: 1.2rem;
}
.ListDiv ul li:hover > a{
  transform-origin: left ;
  color:  rgba(31,190,255,0.73);
  font-size: 1.5rem ;
  transition : 0.5s ;
}
.hide-menu-btn {
  display: none;
}
.sidebar {
  position: fixed;
  top: 128px; 
  left: -300px;
  width: 300px;
  height: 100%;
  background-color: #FFC017;
  z-index: 999;
  transition: all 0.3s ease-in-out;
}

.sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar ul li {
  margin: 20px 0;
  text-align: center;
  padding: 5%;
}

.sidebar ul li a {
  color: #343333;
  text-decoration: none;
  font-size: 20px;

}
.show-sidebar {
  left: 0;
}
.sidebar ul li:hover >a{
  transform-origin: left ;
  color: rgba(31,72,125,1);
  font-size: 1.5rem ;
  transition : 0.5s ;

}

.Navbar .Menu-Bar-Wrapper {
  margin-right: 20px;
}
.header{
  width: 100%;
  height :3rem ;
  display: flex;
  align-items: center;
  justify-content: right;
  color: white ;
  padding: 10px ;
  background-color:rgba(31,190,255,0.73) ;
}
@media (max-width : 998px ) {
  .Navbar{
   
      grid-template-columns: 2rem 2fr 3fr 2rem 2rem ;
  }
  .list{
      display: none;
  }
  .ListDiv{
      justify-self: end;
  }
  .hide-menu-btn{
      display: flex;
      float: right;
  }
  .Menu-Bar{
      color: white;
  }

}
/* Footer design *************************************   */
.social-container {
  text-align: center;
  background: #cacac7;
  padding: 25px 50px;
  /* position:absolute; */
  bottom: 0;
  width: 100%;
}
a.social {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}
a.social:hover {
  transform: translateY(-2px);
}
a.linkedin {
  color: #4d56d7;
}

a.facebook {
  color: #4968ad;
}

a.twitter {
  color: #49a1eb;
}

a.instagram {
  color: black;
}
.question-list{
  text-align: center;
  margin-top: 50px;

}

/* home page CSS**************************      .......... */
.home-container{
  height: 50vh;
  background-image: url("./components/images/wepik-export-20230504112114.png");
  background-size: cover;
}
.blogs{
  overflow: scroll;
  display: flex;
  text-align: left;
  height: 100vh;
}
.blog-container{
  display: flex;
}
.sidecontainer{
  background-color: #4d56d7;
}

/* PROFILE PAGE CSS************************** */
.profilepage{
  margin-left: 0px;
  margin-right: auto;
}
/* .link-muted { color: #aaa; } .link-muted:hover { color: #1266f1; } */